.App {
  text-align: center;
}

.red{
  color: red;
}

.bold{
  font-weight: bold;
}

.Button{
  background-color: black; 
   color: white;
   font: inherit;
   border: 1px solid blue;
   padding: 8px;
   cursor: pointer;
}

  
.Button:hover {
 background-color: grey;
 color: black
}

.Button.Blue{
  background-color: blue;
}

.Button.Blue:hover{
  background-color: lightblue;
}